.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nameEmailGroup {
  flex: 1;
  display: flex;
  gap: 40px;
}

.inputGroup {
  flex: 1;
  position: relative;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
  outline: 1px solid var(--blue);
}

.inputGroup input,
.inputGroup textarea {
  padding: 16px;
  margin: 0;
  border-radius: 10px;
  border: 1px solid var(--card-border-color);
  width: 100%;

  color: inherit;
  background-color: var(--card-background-color);
  box-shadow: var(--box-shadow);
}

.inputGroup label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;

  position: absolute;
  top: calc(-1em - 10px);
  left: 16px;
}

.inputGroup textarea {
  resize: vertical;
}

.submitButtonWrapper {
  display: flex;
  align-items: flex-start;
}

.submitButtonWrapper > p {
  color: var(--text-faded-color);
  font-size: 0.85rem;
  padding: 0 16px;
  text-align: center;
}

@media (max-width: 850px) {
  .nameEmailGroup {
    flex-direction: column;
  }
}

.responseMessage {
  background-color: var(--form-response-background-color);
  padding: 16px 16px;
  border-left: 3px solid var(--form-response-border-color);
  border-radius: 0 10px 10px 0;
}
