.hover-row .details-card-button {
    opacity: 0;
    border: none;
    cursor: pointer;
    /* transition: opacity 0.2s ease-in-out; */
}

.hover-row:hover .details-card-button {
    opacity: 1;
}

.external-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}