.example-box {
  margin-top: 16px;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
}

.example-box-unselected {
  background-color: white;
}

.example-box-selected {
  background-color: #f0f0f0;
}

.example-box:hover {
  background-color: #f0f0f0;
}

.button-default {
  background: linear-gradient(89deg, #627dff 0%, #7a5afb 100%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
}

.button-cancel {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  background: white;
  color: #5e5e5e;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
}

.button-default:disabled {
  background: #d9d9d9;
  cursor: not-allowed;
}

.css-lo78ge-MuiPaper-root-MuiAccordion-root::before {
  display: none !important;
}

.css-2jqy5w-MuiPaper-root-MuiAccordion-root::before {
  display: none !important;
}

.css-yfrx4k-MuiAccordionSummary-content {
  margin: 0 !important;
}

.css-xanwcj-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
  min-width: 180px !important;
}
